##Tugas 1##

In [ ]:
import pandas as pd

In [ ]:
dataset_url="https://raw.githubusercontent.com/ABDHanifAzhari/dataset/main/ds_salaries.csv"
data = pd.read_csv(dataset_url)

In [ ]:
data

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

##Tugas 2##

In [ ]:
import pandas as pd

In [ ]:
dataset_url="https://raw.githubusercontent.com/ABDHanifAzhari/dataset/main/IRIS.csv"
data2 = pd.read_csv(dataset_url)

In [ ]:
data2

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
data2[["sepal_length"]].head(150)

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [ ]:
max_sepal_length = max(data2["sepal_length"])
min_sepal_length = min(data2["sepal_length"])

print(max_sepal_length)
print(min_sepal_length)

7.9
4.3

In [ ]:
def iris (max,min):
  k=4
  w=(max-min)/k
  return (w)
iris(max_sepal_length,min_sepal_length)

0.9000000000000001

In [ ]:
def rentang(i):
  v = min_sepal_length + i*iris(max_sepal_length,min_sepal_length)
  return (v)
print("nilai rentang 1 =",rentang(1))
print("nilai rentang 2 =",rentang(2))
print("nilai rentang 3 =",rentang(3))
print("nilai rentang 4 =",rentang(4))

nilai rentang 1 = 5.2
nilai rentang 2 = 6.1
nilai rentang 3 = 7.0
nilai rentang 4 = 7.9

In [ ]:
for col in ["sepal_length"]:
  nilai = data2[col]  
  def equal(nilai):
    if nilai >= 4.3 and nilai < 5.2:
      return  "A"
    elif nilai >= 5.2 and nilai < 6.1:
      return  "B"
    elif nilai >= 6.1 and nilai < 7.0:
       return "C"
    elif nilai >= 7.0 and nilai <= 7.9:
      return "D"

In [ ]:
data2["sepal_length"]= nilai.apply(equal)

In [ ]:
data2[["sepal_length"]].head(150)

    sepal_length
0              A
1              A
2              A
3              A
4              A
..           ...
145            C
146            C
147            C
148            C
149            B

[150 rows x 1 columns]